@import 'tailwindcss';

@theme {
     --color-primary: #3C4A3E;
     --color-secondary: #719677;
     --background-color: #F6EDD9;
     --text-color-dark: #333333;
     --text-color-light: #FFFFFF;
     --font-family: "Inter", sans-serif;

     --color-error: #B91C1C;
     --color-success: #166534;
     --color-warning: #f79e2a;

     --color-link: #166534;
     --color-hover: #2D5A32;
     --color-disabled: #9CA3AF;

     --color-border: #E5E7EB;
     --color-surface: #FFFFFF;

     --color-focus: #3C4A3E;
}