@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import 'tailwindcss';

:root {
  --color-primary: #3c4a3e;
  --color-secondary: #719677;
  --color-background: #f6edd9;
  --color-text-dark: #333333;
  --color-text-light: #ffffff;
  --font-family: 'Inter', sans-serif;

  --color-error: #b91c1c;
  --color-success: #166534;
  --color-warning: #f79e2a;

  --color-link: #166534;
  --color-hover: #2d5a32;
  --color-disabled: #9ca3af;

  --color-border: #e5e7eb;
  --color-surface: #ffffff;

  --color-focus: #3c4a3e;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Inter', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;   /* gör att h1 och p staplas */
  justify-content: center;  /* vertikal centrering */
  align-items: center;      /* horisontell centrering */
  height: 80vh;             /* tar upp nästan hela sidan */
  text-align: center;       /* centrerar texten */
}


.page h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #3C4A3E;
}

.page p {
  font-size: 1rem;
  color: #719677;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  background-color:#F6EDD9;
  border-top: 1px solid #3C4A3E;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  text-align: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: #719677;
  text-decoration: none;
  transition: filter 300ms;
}

.nav-link:hover {
  color: #3C4A3E 
}

.nav-icon {
  font-size: 1.5rem;
  padding: 0.5em;
  transition: filter 300ms;
  will-change: filter;
}

.nav-link:hover .nav-icon {
  filter: drop-shadow(0 0 2em #334536aa);
}